* {
  box-sizing: border-box;
  flex: 1 100%;
}
html{
  height: 100%;
  /*width: 100%;*/
}
body{
      min-width: 100%;
      height: 100%;
      font-family: "Comic Sans MS", "Monotype Corsiva", "Cursive";
      font-size: 100%;
      font-weight: 300;
      line-height: 1.5;
      color: #fff;
      margin: 0px;
      /*width: 100%;*/
}
.wrapper{
      /*border:6px solid yellow;*/
      min-width: 100%;
      min-height: 100%;
      display: flex;
      flex-flow: column wrap;
      background-image: url("cssimages/starbackground.gif");
      background-size: 100% 100%;
    
}
/*.navigation{
      border:10px solid blue;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
}*/



/* Small screens */
/*@media all and (max-width: 550px) {
  .navigation {
    flex-direction: column;
  }
}*/
@media screen and (min-width: 430px){
  .nav-small{
     display: none;
  }
  .navigation{
  /*border:5px solid blue;*/
  margin:5% auto 0 auto;
  min-width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row;
  justify-content: flex-end;
  list-style: none;  

  position: relative;
  float: right; 
}
.navigation li{
  display: block;
  padding:5%;
}

.navigation li {
  font-size: 1.5rem;
  /*margin: 2.5%;*/
}

.navigation li a:link{
  text-decoration: none;
  color: #fff;
}
.navigation li a:visited{
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover, .navigation li a:active{
    text-decoration: underline;
    color:#F89820;
}
}
@media screen and (max-width: 429px) {
  .navigation{
    display: none;
  }
  .nav-small {
    position: relative;
    float: left;
    display: inline-block;
    font-size: 1.2rem;
}
header{
  padding-top:5%;
  padding-left:5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background:transparent;
    /*opacity: 0.0;
    filter:alpha (opacity=0);*/
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
.dropdown-content a:link, .dropdown-content a:visited{
  text-decoration: none;
  color: #fff;
}
.dropdown-content a:hover, .dropdown-content a:active{
  text-decoration: underline;
  color: #F89820;;
}

  .nav-small:hover .dropdown-content {
    display: block;
}
}


audio {
  display: none;
}
.content{
  min-height: 100%;
  /*border:2px solid red;*/
}


  h1 {
    /*border:2px solid green;*/
    display: block;
    font-size: 2.3rem;
    letter-spacing: -.05em;
    font-weight: 300;
    line-height: 1.125;
    text-align: center;
    margin: 0.67em 0em 0.67em 0em;
    padding: 13% 13% 5% 20%;
  }
 .design-and-build {
    font-size: 2em;
    display: block;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: -.05em;
    padding-bottom: 1em;
}

.actions{
  /*border:5px solid green;*/
  margin-bottom: 15%;
  padding: 0% 10% 0% 40%;
  display: flex;
}
@media all and (max-width: 39em) {
  .actions{
    flex-direction:column;
  }
}
.button{
    display: flex;
    transition: background-color 0.5s cubic-bezier(0.25 0.46 0.45 0.94);
    border-radius: .5rem;
    background: transparent;
    border:1px solid #fff;
    padding: 5% 5% 5% 10%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .7em;
    color: #fff;
    border-collapse: #fff;
    font-size: 1.4em;  
    margin-right: 4%;
  }
  .button:hover{
  background:#F89820;
  border-color: #89820;
  color:#fff;
  outline:0;
}

